<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A simple web app">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <title>A simple web app</title>

    <script>
        $(function(){
            $('#o').on('click', function(){
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('process_user_query') }}",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({
                        query: $('textarea[name="q"]').val()
                    })
                }).done(function (response) {
                    $('div.result-area').html(response);
                }).fail(function (error) {
                    $('div.result-area').html('Looks like an error happened while processing your request. It can be an error in backend or lost connection.');
                    console.log(error);
                });
                return false;
            });
        });
    </script>
</head>
<body>
    <div class="container">
    <header class="sticky-top">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                    <label for="mainTextArea">Type your request here:</label>
                    <textarea id="mainTextArea" class="form-control" name="q">*e *b *u Title Of The Article  @s:40 @c:FF0000 u*  b*  e*
*e *c Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of 'de Finibus Bonorum et Malorum' (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, 'Lorem ipsum dolor sit amet..', comes from a line in section 1.10.32.c* e*
*e *d https://www.w3schools.com/css/paris.jpg d* e*
*r  *i By Rami Osman  i*  r*
</textarea>
                  </div>


                  <div id='addedbyRami'>
                    <style>
                    #ul_top_hypers li{
                      display: inline;
                    }
                    li{
                      padding-right: 40px;
                      cursor: pointer;
                    }
                    img{
                      width: 20px;
                    }
                    </style><center>
                      <ul id="ul_top_hypers">
                        <li id='b' onclick="add(this)"><img src="{{url_for('static', filename='bold.png')}}" /></li>
                        <li id='i' onclick="add(this)"><img src="{{url_for('static', filename='italic.png')}}"  /></li>
                        <li id='u' onclick="add(this)"><img src="{{url_for('static', filename='underline.png')}}"  /></li>
                        <li id='c' onclick="add(this)"><img src="{{url_for('static', filename='code.png')}}"  /></li>
                        <li id='l' onclick="add(this)"><img src="{{url_for('static', filename='left-alignment.png')}}"  /></li>
                        <li id='e' onclick="add(this)"><img src="{{url_for('static', filename='center-alignment.png')}}"  /></li>
                        <li id='r' onclick="add(this)"><img src="{{url_for('static', filename='right-alignment.png')}}"  /></li>
                        <li id='d' onclick="add(this)"><img src="{{url_for('static', filename='photo.png')}}"  /></li>
                        <li id='o' ><img src="{{url_for('static', filename='download.png')}}"  /></li>
                      </ul>
                      <ul id="ul_top_hypers">
                        <li id='b' onclick="add(this)">Text size: <code>@s:xx</code></li>
                        <li id='i' onclick="add(this)">Text Color: <code>@c:RRGGBB</code></li>
                                              </ul>
                    </center>
                    <script>
                    function add(liEl){
                        var textArea = $("#mainTextArea");
                        textArea.val(textArea.val()+"*"+liEl.id+" Write Here "+liEl.id+"* ")
                    }
                    function download(){
                      alert("Download it by yourself: \n\n"+$('div.result-area').html())
                    }
                    </script>
                  </div>


                </form>
            </div>
        </div>
    </header>

    <div class="card"><div class="card-body result-area">You will see results here.</div></div>

    <footer class="footer">
        <hr>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <p class="muted pull-right">© Author, 2017</p>
            </div>
        </div>
    </footer>
    </div>
</body>
</html>
